<div class="editor-container">
  <button class="btn btn-primary switchtab{{this.id}}" tab="html{{this.id}}">HTML</button>
  <button class="btn btn-primary switchtab{{this.id}}" tab="css{{this.id}}">CSS</button>
  <button class="btn btn-primary switchtab{{this.id}}" tab="js{{this.id}}">JS</button>
  <div id="html{{this.id}}" class="editor editor{{this.id}}" style="display: block;">{{this.html}}</div>
  <div id="css{{this.id}}" class="editor editor{{this.id}}" style="display: none;">{{this.css}}</div>
  <div id="js{{this.id}}" class="editor editor{{this.id}}" style="display: none;">{{this.js}}</div>
  <button class="btn btn-primary" id="runcode{{this.id}}">RUN CODE</button>
  <div id="console{{this.id}}"></div>
  <div id="target{{this.id}}" class="target-container"></div>
</div>
<script>

  (function () {
    ace.edit("html{{this.id}}");
    ace.edit("css{{this.id}}");
    ace.edit("js{{this.id}}");

    let switchtabs = document.getElementsByClassName("switchtab{{this.id}}")
    for (let i = 0; i < switchtabs.length; i++) {
      switchtabs[i].addEventListener('click', (e) => {
        let editors = document.getElementsByClassName("editor{{this.id}}");
        for (let i = 0; i < editors.length; i++) {
          editors[i].style.display = "none";
        }
        document.getElementById(e.target.getAttribute("tab")).style.display = "block"
      })
    }

    document.getElementById("runcode{{this.id}}").addEventListener('click', () => {
      const htmlEditor = ace.edit("html{{this.id}}");
      const cssEditor = ace.edit("css{{this.id}}");
      const jsEditor = ace.edit("js{{this.id}}");

      let element = document.getElementById("target{{this.id}}");
      element.innerHTML = "";

      let newDiv = document.createElement("div");
      let shadow = newDiv.attachShadow({
        mode: 'closed'
      });

      shadow.innerHTML = htmlEditor.getValue();

      let css = document.createElement("style");
      css.innerHTML = cssEditor.getValue();
      shadow.prepend(css);

      let js = document.createElement("script");
      js.innerHTML = jsEditor.getValue();
      shadow.append(js);

      element.append(newDiv);

    })
  }())



</script>