<div class="editor-container">
  <div class="editor-target-wrap">
    <div class="editor-wrap">
      <div class="tabs-button-container">
        <button class="btn btn-tab code-tab-active switchtab{{this.id}}" tab="html{{this.id}}">HTML</button>
        <button class="btn btn-tab switchtab{{this.id}}" tab="css{{this.id}}">CSS</button>
        <button class="btn btn-tab switchtab{{this.id}}" tab="js{{this.id}}">JS</button>
      </div>
      <div class="editor-target-container">
        <div id="html{{this.id}}" class="editor editor{{this.id}}" style="display: block;">{{this.html}}</div>
        <div id="css{{this.id}}" class="editor editor{{this.id}}" style="display: none;">{{this.css}}</div>
        <div id="js{{this.id}}" class="editor editor{{this.id}}" style="display: none;">{{this.js}}</div>
      </div>
    </div>
    <div id="target{{this.id}}" class="target-container"></div>
  </div>
  <button class="btn btn-warning btn-sm run-code-button" id="runcode{{this.id}}">RUN CODE</button>
  <div id="console{{this.id}}"></div>
</div>
<script>

  (() => {
    ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.12/');

    ace.edit("html{{this.id}}", {
      enableEmmet: true,
      mode: "ace/mode/html",
      theme: "ace/theme/tomorrow_night"
    });
    ace.edit("css{{this.id}}", {
      enableEmmet: true,
      mode: "ace/mode/css",
      theme: "ace/theme/tomorrow_night"
    });
    ace.edit("js{{this.id}}", {
      enableEmmet: true,
      mode: "ace/mode/javascript",
      theme: "ace/theme/tomorrow_night"
    });

    let switchtabs = document.getElementsByClassName("switchtab{{this.id}}")
    for (let i = 0; i < switchtabs.length; i++) {
      switchtabs[i].addEventListener('click', (e) => {
        const editorTargetId = e.target.getAttribute("tab");
        const buttonTabTarget = e.target;
        let editors = document.getElementsByClassName("editor{{this.id}}");
        for (let i = 0; i < editors.length; i++) {
          editors[i].style.display = "none";
        }

        for (let i = 0; i < switchtabs.length; i++) {
          switchtabs[i].classList.remove("code-tab-active")
        }

        document.getElementById(editorTargetId).style.display = "block";
        buttonTabTarget.classList.add("code-tab-active");
      })
    }

    document.getElementById("runcode{{this.id}}").addEventListener('click', () => {
      const htmlEditor = ace.edit("html{{this.id}}");
      const cssEditor = ace.edit("css{{this.id}}");
      const jsEditor = ace.edit("js{{this.id}}");

      let element = document.getElementById("target{{this.id}}");
      element.innerHTML = "";

      let newDiv = document.createElement("div");
      let shadow = newDiv.attachShadow({
        mode: 'closed'
      });

      shadow.innerHTML = htmlEditor.getValue();

      let css = document.createElement("style");
      css.innerHTML = cssEditor.getValue();
      shadow.prepend(css);

      let js = document.createElement("script");
      js.innerHTML = jsEditor.getValue();
      shadow.append(js);

      element.append(newDiv);

    })
  })()



</script>